/* селекторы тегов можно объединять через запятую и CSS код применится к ним всем одновременно*/
h1, h2, h3 {
    text-align:center;
}
/* Бывает такое, что часть свойств некоторых селекторов одинакова, а часть - отличается.
В таком случае можно сгруппировать повторяющиеся части, а то, что не повторяется, записать отдельно:*/
h1, h2, h3 {
	text-align: center;
}
h2 {	
	color: blue;
}
h3 {	
	font-size: 16px;
	color: red;
}
/* К примеру:*/
h1, h2, h3 {
	text-align: center;
	color: red;
}
h3 {	
	font-size: 16px;	
}